%h2 All movies

%table#movies
  %thead
    %tr
      %th{:class => ("hilite" if flash[:notice].eql?('title'))}= link_to "Movie Title", {:controller => "movies", :sort => "title"}, :id => "title_header"
      %th Rating
      %th{:class => ("hilite" if flash[:notice].eql?('release_date'))}= link_to "Release Date", {:controller => "movies", :sort => "rdate"},:id => "release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        
= link_to 'Add a new movie', new_movie_path

